<ul data-ng-repeat="( categoryIndex, category) in model.categories">
   <li><button class="btn btn-link"
               data-ng-class="{ 'changelog-widget-no-target': category.repositories.length === 0 }"
               type="button"
               data-ng-click="showCategory( categoryIndex )"
         ><i data-ng-class="{ 'fa fa-plus-square': !model.visibleMap.categories[ categoryIndex ],
         'fa fa-minus-square': model.visibleMap.categories[ categoryIndex ] }"
             data-ng-show=" category.repositories.length > 0"
      ></i> {{category.title}}</button>
   </li>
   <ul data-ng-show="model.visibleMap.categories[ categoryIndex ]"
       data-ng-repeat="( repositoryIndex, repository) in category.repositories">
      <li><button class="btn btn-link"
                  data-ng-class="{ 'changelog-widget-no-target': !repository.releases.length }"
                  type="button"
                  data-ng-click="showRepository( repository.href._links.releases.href )"
            ><i data-ng-class="{ 'fa fa-plus-square': !model.visibleMap.repositories[ repository.href_links.releases.href ],
            'fa fa-minus-square': model.visibleMap.repositories[ repository.href._links.releases.href ] }"
                data-ng-show="repository.releases.length > 0"
         ></i> {{repository.title}} {{repository.lastVersion}}</button>
      </li>
      <ul data-ng-show="model.visibleMap.repositories[ repository.href._links.releases.href ]"
          data-ng-repeat="( releaseIndex, release) in repository.releases">
         <li><button class="btn btn-link"
                     data-ng-class="{ 'changelog-widget-no-target': !release.changelog }"
                     type="button"
                     data-ng-click="changelog( release.href )"
            ><i class="fa fa-spinner fa-spin"
                data-ng-show="model.requestChangelogs[ repository.href._links.releases.href ] "
            ></i><i data-ng-class="{ 'fa fa-plus-square': !model.visibleMap.releases[ release.href ],
       'fa fa-minus-square': model.visibleMap.releases[ release.href ] }"
                data-ng-show="release.changelog"
            ></i>
            {{release.title}}</button>
            <div data-ng-show="model.visibleMap.releases[ release.href ] && release.changelog"
                 data-ng-bind-html="release.changelog"></div>
         </li>
      </ul>
   </ul>
</ul>
